{% extends 'base.html' %}

{% block content %}

  {% block content_header %}
    <h2>List of reports</h2>
    <p>
      <a href="{% url 'secret' %}" class="btn btn-primary">Upload report</a>
    </p>
  {% endblock %}

  <table class="table mb-0">
    <thead>
      <tr>
        <th>Title</th>
        <th>Receiver name</th>
        <th>Description</th>
        <th>Created at</th>
        <th>Last update</th>
        <th>Status</th>
        <th>Download</th>
          {% if user.is_authenticated  %}
          <th>Update</th>
        <th>Delete</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for report in reports %}
        <tr>
          <td>{{ report.title }}</td>
          <td>{{ report.receiver_name }}</td>
          <td>{{ report.description }}</td>
          <td>{{ report.created_at }}</td>
          <td>{{ report.updated_at }}</td>
          <td>{{ report.status }}</td>
          <td>
            <a href="{{ report.file.url }}" class="btn btn-success" target="_blank">
              Download PDF
            </a>
          </td>
          {% if user.is_authenticated  %}
          <td>


              <a href="{% url 'update_report' report.id %}" class="btn btn-primary btn-sm">
              Edit
              </a>


          </td>
          {% endif %}
          {% if user.is_authenticated  %}
          <td>
            <form method="post" action="{% url 'delete_report' report.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
          </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
