{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h2>Add new report</h2>
<hr>
  <form method="post" enctype="multipart/form-data">{% csrf_token %}

    <div class="row">
      <div class="col-md-6 mb-0">
        {{ form.title|as_crispy_field }}
        </div>
        <div class="col-md-6 mb-0">
          {{ form.receiver_name|as_crispy_field }}
          </div>
            <div class="col-md-12 mb-0">
              {{ form.description|as_crispy_field }}
              </div>
              <div class="col-md-6 mb-0">
                {{ form.file|as_crispy_field }}
                </div>
                <div class="col-md-3 mb-0">
                  {{ form.status|as_crispy_field }}
                  </div>
      </div>


    <button class="btn btn-success">submit</button>
  </form>
{% endblock %}
